/* smartphone medeia query */
@media (max-width:670px) {
/*header　menu-bars */
  .header-logo{
    padding-left: 10px;
  }

  .headerleft{
    text-align: center;
  }

  .icon-arrow{
    padding-left: 25px;
  }

  .icon{
    padding-left: 25px;
  }
/*ハンバーガーメニュー --------------------------------------------------------*/
  .menu-list{
    display:none ;
  }
  }
/*Home ----------------------------------------------------------------------*/
  .Home{
    padding-top:20px;
  }
 
}

@media (max-width:420px) {
/*-- toppage---------------------------------------------------------------- */
.black-back{
  width: 100%;
  height: 500px;
}

#player{
  height: 500px;
  width: 100%;
}

.header-top{
  position: absolute;
  top: 140px;
}

.menu-list-left{
  padding-left: initial;
  line-height: 40px;
  position: absolute;
  left: 15px;
}

.clear-left{
  clear: left;
}

.menu-list-right{
  padding-right: initial;
  line-height: 40px;
  position: absolute;
  left: 280px;
  width: 120px;
}

.clear-right{
  clear: right;
}

.menu-list-left a,
.menu-list-right a{
  font-size: 13px;
  padding: 0px 20px;
  margin:  0px 0px;
}


.black-back{
  height: 290px;
}

.smapho-picture{
  display: inline-block;
}

.smapho-picture img{
  width: 100%;
}

#player{
  display: none;
}

}

@media (max-width:380px) {
/*-- toppage---------------------------------------------------------------- */
.icon-arrow{
  padding-left: 7px;
  float: left;
}

.icon{
  padding-left: 10px;
  float: left;
}

.header-top{
  position: absolute;
  top: 140px;
}

.menu-list-left{
  padding-left: initial;
  line-height: 40px;
  position: absolute;
  left: 10px;
}

.clear-left{
  clear: left;
}

.menu-list-right{
  padding-right: initial;
  line-height: 40px;
  position: absolute;
  left: 255px;
  width: 120px;
}

.clear-right{
  clear: right;
}

.menu-list-left a,
.menu-list-right a{
  font-size: 13px;
  padding: 0px 20px;
  margin:  0px 0px;
}


.black-back{
  height: 290px;
}

.smapho-picture{
  display: inline-block;
}

.smapho-picture img{
  width: 100%;
}

#player{
  display: none;
}

/* 共通footer ---------------------------------------------------------------*/
.footer-icons{
  margin: initial;
  display: inline-block;
  text-align: center;
}

}/*←LAST */
